{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hero List</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="container mt-3">
        <h1>ヒーローTier</h1>
        <p>Latest Update: {{ latest_date }}</p>

        <div class="row">
            <div class="col-md-12">
                <h2>S+ Heroes</h2>
                {% for hero in s_plus_heroes %}
                <img src="{{ hero.2 }}" alt="{{ hero.0 }}" class="img-thumbnail" width="100">
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>S Heroes</h2>
                {% for hero in s_heroes %}
                <img src="{{ hero.2 }}" alt="{{ hero.0 }}" class="img-thumbnail" width="100">
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>A+ Heroes</h2>
                {% for hero in a_plus_heroes %}
                <img src="{{ hero.2 }}" alt="{{ hero.0 }}" class="img-thumbnail" width="100">
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>A Heroes</h2>
                {% for hero in a_heroes %}
                <img src="{{ hero.2 }}" alt="{{ hero.0 }}" class="img-thumbnail" width="100">
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>B Heroes</h2>
                {% for hero in b_heroes %}
                <img src="{{ hero.2 }}" alt="{{ hero.0 }}" class="img-thumbnail" width="100">
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>C Heroes</h2>
                {% for hero in c_heroes %}
                <img src="{{ hero.2 }}" alt="{{ hero.0 }}" class="img-thumbnail" width="100">
                {% endfor %}
            </div>
        </div>
    </div>

    {% bootstrap_javascript %}
</body>

</html>